*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    font-family: helvetica, serif;
}

.grid-container {
    display: grid;
    background-color: #F0F0F0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto auto 60vh auto;

}

.ueberschrift {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 4;
}

.logo{
    height: 80px;
    width: 80px;
}

.uhrzeitdatum{
    text-align: center;
}

.hinweistext {
    padding: 20px;
    font-size: 40px;
    text-align: left;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

.text{
    margin-left: 2.5vh;
}

.hauptfunktion {
    padding: 20px;
    text-align: left;
    font-size: 40px;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

.hauptfunktion-innen{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    line-height: 30px;
    margin-left: 2.5vh;
}

.radio-btn{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;

    margin-top: 60px;
    margin-left: 300px;
}

.radio-btn [type=radio] {
    display: none;
}

.radio-btn input[type=radio]:checked+label {
    background-color: #0B330C;
    box-shadow: 0 3px #666;
}

.radio-btn label {
    text-align: center;
    width: 300px;


    font-size: 40px;
    cursor: pointer;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}

.normaltarif{
    padding-top: 55px;
    padding-bottom: 55px;
}

.gruppenticket{
    padding-top: 40px;
    padding-bottom: 40px;
}

.weiter_btn {
    position: relative;
    padding: 20px;
    width: 226px;

    font-size: 40px;
    cursor: pointer;

    color: #fff;
    background-color: #1a7c1b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;

    left: 91.5vh;
    top: 9.1vh;
}

.weiter_btn:active{
    background-color: #0B330C;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.button-disabled{
    position: relative;
    padding: 20px;
    width: 226px;

    font-size: 40px;
    cursor: pointer;

    color: #fff;
    background-color: #666666 ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;

    left: 91.5vh;
    top: 9.1vh;
}

.navigation {

    padding: 20px;
    text-align: left;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

.navigation-innen{
    display: inline-block;
    margin-left: 2.5vh;
}


.Zurück{
    margin-left: 495px;

    padding: 20px;
    width: 226px;

    font-size: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #ed8c08;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}

.Zurück:active{
    background-color: #9E5D05  ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.Abbrechen{
    padding: 20px;
    width: 226px;

    font-size: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #ed8c08;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}

.Abbrechen:active{
    background-color: #9E5D05  ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}



