/* EIGENER CODE UNTER DEN JEWEILIGEN GRIDS FÜR ÜBERSICHT */

/* ZENTRIET ALLES NICHT VERÄNDERN */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    font-family: helvetica, serif;
}

/* GRID UNTERTEILUNG NICHT VERÄNDERN */
.grid-container {
    display: grid;
    background-color: #F0F0F0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto auto 60vh auto;

}

/*Rechteck und Dreiecke für die Flügel*/
.rechteck{
    height: 148px;
    width: 77px;
    background-color: #1a7c1b;
    position: absolute; top:126px;

}
.dreieckleft {
    height: 150px;
    background-color: transparent;
    border-left: 77px solid transparent;
    border-bottom: 40px solid transparent;
    border-top: 55px solid #F0F0F0;
    position: absolute; top:124px;
}
.dreieckright{
    height: 150px;
    background-color: transparent;
    border-right: 77px solid transparent;
    border-top: 40px solid transparent;
    border-bottom: 50px solid #F0F0F0;
    position: absolute; top:125px;
}

/* GRID 1  */
/* NICHT VERÄNDERN */
.ueberschrift {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 4;
}

/* NICHT VERÄNDERN */
.logo{
    height: 80px;
    width: 80px;
}
/* NICHT VERÄNDERN */
.uhrzeitdatum{
    text-align: center;
}

/* START */

/* ENDE */


/* GRID 2 */
/* NICHT VERÄNDERN */
.hinweistext {
    padding: 20px;
    font-size: 40px;
    text-align: left;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

/* NICHT VERÄNDERN */
.hinweistext-innen{
    margin-left: 2.5vh;
}

/* START */

/* ENDE */


/* GRID 3 */
/* NICHT VERÄNDERN */
.hauptfunktion {
    padding: 20px;
    text-align: left;
    font-size: 40px;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

/* NICHT VERÄNDERN */
.hauptfunktion-innen{


    line-height: 30px;
    margin-left: 2.5vh;
}

/* WEITER KNOPF */
/* NICHT VERÄNDERN */
.input[type=submit] {
    /* RELATIV WEITER KNOPF IST FREI VON ELTERN KLASSEN */
    position: relative;
    padding: 20px;
    width: 226px;

    font-size: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;

    /* HIER POSITION ÄNDERN */
    top: 35vh;
    left: 125vh;
}

/* WEITER KNOPF:AKTIV */
/* NICHT VERÄNDERN */
.input[type=submit]:active {
    background-color: #0B330C ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

/* START */

/* ENDE */


/* GRID 4 */
/* NICHT VERÄNDERN */
.navigation {
    padding: 20px;
    text-align: left;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

/* NICHT VERÄNDERN */
.navigation-innen{
    margin-left: 2.5vh;
}

/* START */

/* ENDE */


/* BUTTON GRÜN */
/* NICHT VERÄNDERN */
.button-gruen {
    display: inline-block;
    padding: 20px 10px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    width: 75px;
}


/* NICHT VERÄNDERN */
.button-gruen:active:enabled {
    background-color: #0B330C ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.button-gruenW {
    display: inline-block;
    padding: 20px 10px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    width: 75px;
}


/* NICHT VERÄNDERN */
.button-gruenW:active:enabled {
    background-color: #0B330C ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.button-gruenK {
    display: inline-block;
    padding: 20px 10px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    width: 75px;
}


/* NICHT VERÄNDERN */
.button-gruenK:active:enabled {
    background-color: #0B330C ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}


/* BUTTON ORANGE */
/* NICHT VERÄNDERN */
.button-orange {
    display: inline-block;
    padding: 20px 10px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #ed8c08   ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    width: 75px;


}

/* NICHT VERÄNDERN */
.button-orange:active:enabled {
    background-color: #9E5D05 ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.button-orangeN {
    display: inline-block;
    padding: 20px 10px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #ed8c08   ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    width: 75px;


}

/* NICHT VERÄNDERN */
.button-orangeN:active:enabled {
    background-color: #9E5D05 ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.plus-minus {
    font-size: 150%;
    width: 100px;
    height: 100px;
    text-align: center;
}
.plus-minus + .plus-minus {
    margin-left: 100px;
}

.alter-gruppe{
    display: inline;
}
.wagenklasse {
    position: absolute;
    left: 60%;
    top: 200px;
    width: 200px;
    height: 100px;

}
.wagenklasse2 {
    position: absolute;
    left: 79%;
    top: 200px;
    width: 200px;
    height: 100px;

}


.navi-schritt{
    position: absolute;
    left: 60%;
    bottom:60px;
    width: 200px;
    height: 100px;

}
.navi-schritt + .navi-schritt{
    margin-left: 300px;
    width: 200px;
    height: 100px;
}
.navigation-innen >form > * {
    width: 200px;
    height: 130px;
}
.navi-abbrechen{
    position: absolute;
    bottom: 230px;
    left: 60%;
    width: 200px;
    height: 100px;
}
.empty-space{
    background-color: #F0F0F0;
    position: absolute;
    bottom: 200px;
    left:60%;
}
.empty-space + .navi-abbrechen{
    margin-left: 300px;
}

.main-grid {
    display: grid;
    grid-template-columns: 20% 8% 8% 8%;
    grid-row-gap: 5%;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;

}

.inner-grid {
    display: grid;


}

#minus_erwachsene:disabled {
    background-color: grey;
}
#plus_erwachsene:disabled {
    background-color: grey;
}
#minus_ermaessigt:disabled {
    background-color: grey;
}
#plus_ermaessigt:disabled {
    background-color: grey;
}
#minus_senioren:disabled {
    background-color: grey;
}
#plus_senioren:disabled {
    background-color: grey;
}
#minus_kinder:disabled {
    background-color: grey;
}
#plus_kinder:disabled {
    background-color: grey;
}
#weiter:disabled {
    background-color: grey;
}



input[type="radio"] {
    display: none;
}
label[class="wagenklasse"] {
    text-align: center;
    width: 200px;
    padding-top: 32px;

    font-size: 40px;
    cursor: pointer;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;

}
label[class="wagenklasse2"] {
    text-align: center;
    width: 200px;
    padding-top: 32px;

    font-size: 40px;
    cursor: pointer;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;

}
input[type="radio"]:checked + #klassen {
    background-color: #0B330C;
    box-shadow: 0 3px #666;
}

input[type="number"] {
    height: 50px;
    width: 70px;
    text-align: center;
    font-size: 50px;
    color: black;
    border: none;
}





