*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
    font-family: helvetica, serif;
}

.grid-container {
    display: grid;
    background-color: #F0F0F0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto auto 60vh auto;

}

.info {
    position: fixed;
    background-color: #ed8c08;
    padding-right: 100%;
    padding-bottom: 1.1%;
}
.infotext {
    position: absolute;
    margin-left: 40%;
    background-color: #ed8c08;
    font-weight: bold;

}
.rechteck{
    /* ein grünes rechteck mit zwei weißen Dreicecken: eins mit  */
    /* großes rechteck mittels &::after setzt kann man direkt ein zweites erzeugen ohne zweute klasse */

    height: 148px;
    width: 77px;
    background-color: #1a7c1b;
    position: absolute; top:126px;

}
.dreieckleft {
    height: 150px;
    background-color: transparent;
    border-left: 77px solid transparent;
    border-bottom: 40px solid transparent;
    border-top: 55px solid #F0F0F0;
    position: absolute; top:124px;
}
.dreieckright{
    height: 150px;
    background-color: transparent;
    border-right: 77px solid transparent;
    border-top: 40px solid transparent;
    border-bottom: 50px solid #F0F0F0;
    position: absolute; top:125px;
}

.ueberschrift {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 4;
}

.logo{
    height: 80px;
    width: 80px;
}

.uhrzeitdatum{
    text-align: center;
}

.hinweistext {
    padding: 20px;
    font-size: 40px;
    text-align: left;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

.text{
    margin-left: 2.5vh;
}

.hauptfunktion {
    padding: 20px;
    text-align: left;
    font-size: 40px;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

.hauptfunktion-innen{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    line-height: 30px;
    margin-left: 2.5vh;
}

.input[type=text] {
    font-size: 40px;
    height: 80px;
    padding: 15px;
    margin-left: 40px;
    width: 600px;

    border: 3px solid #1a7c1b;
    border-radius: 15px;
}

.ziel {
    font-size: 40px;
    height: 80px;
    padding: 15px;
    margin-left: 40px;
    width: 600px;

    border: 3px solid #1a7c1b;
    border-radius: 15px;
}

.input-ziel {
    font-size: 40px;
    height: 80px;
    padding: 15px;
    margin-left: 60px;
    width: 600px;

    border: 3px solid #1a7c1b;
    border-radius: 15px;
}

.errormessage{
    display: block;
    position: absolute;
    margin-left: 760px;
    margin-top: -55px;
    font-size: 35px;
    font-weight: bold;
    color: red;
}

.input[type=submit] {
    position: relative;
    padding: 20px;
    width: 226px;

    font-size: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;

    top: 35vh;
    left: 125vh;
}

.input[type=submit]:active {
    background-color: #0B330C ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.navigation {

    padding: 20px;
    text-align: left;

    grid-column-start: 1;
    grid-column-end: 4;

    border-color: #ed8c08;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}

.navigation-innen{
    margin-left: 2.5vh;
}


.button-gruen {
    display: inline-block;
    padding: 20px 10px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #1a7c1b  ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}

.button-gruen:active {
    background-color: #0B330C ;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.button-form{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

/*Page Loader*/
#loader {
    opacity: 100%;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #1a7c1b;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

#loading-text{
    opacity: 100%;
    color: #1a7c1b;
    width: 70px;
    height: 70px;
    font-size: 25px;
    margin-top: 500px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loadingscreen {
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

